In [2]:
import pandas as pd
import numpy as np
ad = pd.read_csv("movies_metadata.csv")
ad

C:\Users\vpuyp\AppData\Local\Temp\ipykernel_13516\1359476628.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  ad = pd.read_csv("movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [3]:
ad.drop(['adult','homepage','video','revenue','belongs_to_collection','poster_path','budget','id','overview','release_date','status','tagline'], axis=1, inplace=True)

In [4]:
ad=ad.drop(['production_countries','production_companies','spoken_languages','popularity'], axis=1)

In [5]:
ad[ad['runtime'].isnull()]['runtime'].value_counts(dropna=False)

NaN    263
Name: runtime, dtype: int64

In [6]:
mean_runtime = ad['runtime'].value_counts().mean()
ad['runtime'].fillna(mean_runtime, inplace=True)

In [7]:
ad=ad.sort_values(by=['vote_average'], ascending=False)

In [8]:
ad['vote_average'].dropna(inplace=True)

In [9]:
ad=ad.reset_index()

In [10]:
ad=ad[ad['vote_average'].notnull()]

In [11]:
ad=ad[ad['original_language'] == 'en']
ad=ad.reset_index()
ad

,level_0,index,genres,imdb_id,original_language,original_title,runtime,title,vote_average,vote_count
0,0,21642,"[{'id': 99, 'name': 'Documentary'}]",tt0886500,en,Ice Age Columbus: Who Were the First Americans?,0.0,Ice Age Columbus: Who Were the First Americans?,10.0,1.0
1,1,15710,"[{'id': 99, 'name': 'Documentary'}]",tt1587373,en,If God Is Willing and da Creek Don't Rise,255.0,If God Is Willing and da Creek Don't Rise,10.0,1.0
2,2,22396,"[{'id': 99, 'name': 'Documentary'}]",tt1341746,en,Meat the Truth,74.0,Meat the Truth,10.0,1.0
3,3,22395,"[{'id': 99, 'name': 'Documentary'}]",tt3011874,en,Marvin Hamlisch: What He Did For Love,82.0,Marvin Hamlisch: What He Did For Love,10.0,1.0
4,4,35343,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",tt0308213,en,Elaine Stritch: At Liberty,140.0,Elaine Stritch: At Liberty,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...
32262,45451,36705,[],tt0287092,en,Vergeef me,83.0,Forgive Me,0.0,0.0
32263,45452,36728,"[{'id': 99, 'name': 'Documentary'}]",tt0106945,en,The Forbidden Quest,75.0,The Forbidden Quest,0.0,0.0
32264,45453,36727,"[{'id': 99, 'name': 'Documentary'}]",tt0390005,en,Finisterre,57.0,Finisterre,0.0,0.0
32265,45456,36719,[],tt0163591,en,The Courtesans of Bombay,74.0,The Courtesans of Bombay,0.0,0.0
32266,45459,45465,[],tt6980792,en,Queerama,75.0,Queerama,0.0,0.0

In [12]:
ad=ad[~ad['genres'].str.contains('\[]')]
ad.drop(['level_0','index'],axis=1, inplace=True)

C:\Users\vpuyp\AppData\Local\Temp\ipykernel_13516\1037922077.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ad.drop(['level_0','index'],axis=1, inplace=True)

In [13]:
ad=ad.reset_index()

In [14]:
ad

,index,genres,imdb_id,original_language,original_title,runtime,title,vote_average,vote_count
0,0,"[{'id': 99, 'name': 'Documentary'}]",tt0886500,en,Ice Age Columbus: Who Were the First Americans?,0.0,Ice Age Columbus: Who Were the First Americans?,10.0,1.0
1,1,"[{'id': 99, 'name': 'Documentary'}]",tt1587373,en,If God Is Willing and da Creek Don't Rise,255.0,If God Is Willing and da Creek Don't Rise,10.0,1.0
2,2,"[{'id': 99, 'name': 'Documentary'}]",tt1341746,en,Meat the Truth,74.0,Meat the Truth,10.0,1.0
3,3,"[{'id': 99, 'name': 'Documentary'}]",tt3011874,en,Marvin Hamlisch: What He Did For Love,82.0,Marvin Hamlisch: What He Did For Love,10.0,1.0
4,4,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",tt0308213,en,Elaine Stritch: At Liberty,140.0,Elaine Stritch: At Liberty,10.0,1.0
...,...,...,...,...,...,...,...,...,...
30577,32257,"[{'id': 18, 'name': 'Drama'}]",tt1120908,en,De muze,72.0,The Muse,0.0,0.0
30578,32259,"[{'id': 99, 'name': 'Documentary'}]",tt0439682,en,Lomax the Songhunter,0.0,Lomax the Songhunter,0.0,0.0
30579,32261,"[{'id': 99, 'name': 'Documentary'}]",tt0200698,en,Het is een schone dag geweest,70.0,Het is een schone dag geweest,0.0,0.0
30580,32263,"[{'id': 99, 'name': 'Documentary'}]",tt0106945,en,The Forbidden Quest,75.0,The Forbidden Quest,0.0,0.0
30581,32264,"[{'id': 99, 'name': 'Documentary'}]",tt0390005,en,Finisterre,57.0,Finisterre,0.0,0.0

In [15]:
ad['genres']=ad['genres'].apply(lambda genres: eval(genres))

In [16]:
ad['genres']=ad['genres'].apply(lambda genres: genres[0]['name'])

In [19]:
ad.drop('index', axis=1, inplace=True)

In [20]:
ad

,genres,imdb_id,original_language,original_title,runtime,title,vote_average,vote_count
0,Documentary,tt0886500,en,Ice Age Columbus: Who Were the First Americans?,0.0,Ice Age Columbus: Who Were the First Americans?,10.0,1.0
1,Documentary,tt1587373,en,If God Is Willing and da Creek Don't Rise,255.0,If God Is Willing and da Creek Don't Rise,10.0,1.0
2,Documentary,tt1341746,en,Meat the Truth,74.0,Meat the Truth,10.0,1.0
3,Documentary,tt3011874,en,Marvin Hamlisch: What He Did For Love,82.0,Marvin Hamlisch: What He Did For Love,10.0,1.0
4,Comedy,tt0308213,en,Elaine Stritch: At Liberty,140.0,Elaine Stritch: At Liberty,10.0,1.0
...,...,...,...,...,...,...,...,...
30577,Drama,tt1120908,en,De muze,72.0,The Muse,0.0,0.0
30578,Documentary,tt0439682,en,Lomax the Songhunter,0.0,Lomax the Songhunter,0.0,0.0
30579,Documentary,tt0200698,en,Het is een schone dag geweest,70.0,Het is een schone dag geweest,0.0,0.0
30580,Documentary,tt0106945,en,The Forbidden Quest,75.0,The Forbidden Quest,0.0,0.0
30581,Documentary,tt0390005,en,Finisterre,57.0,Finisterre,0.0,0.0