In [6]:
import pandas as pd
import numpy as np

In [7]:
ar = pd.read_csv('A&A actor ratings.csv')

In [8]:
ar

,cast,average rating,total length of movie runtimes,number of movies stared in
0,Ellen Page,81.0,148,1
1,Megumi Hayashibara,81.0,87,1
2,Koichi Yamadera,81.0,87,1
3,Akira Ishida,81.0,87,1
4,Kotono Mitsuishi,81.0,87,1
...,...,...,...,...
1654,Nicholas Pinnock,42.0,119,1
1655,Johnny Harris,42.0,119,1
1656,Parker Sawyers,42.0,119,1
1657,Sofia Boutella,42.0,119,1
1658,Kyle Soller,42.0,119,1

In [11]:
ar=ar.sort_values(by=['average_rating'], ascending=False)

KeyError: 'average_rating'

In [13]:
ar.head(50)

,cast,average rating,total length of movie runtimes,number of movies stared in
0,Ellen Page,81.0,148,1
1,Megumi Hayashibara,81.0,87,1
2,Koichi Yamadera,81.0,87,1
3,Akira Ishida,81.0,87,1
4,Kotono Mitsuishi,81.0,87,1
5,Miki Nagasawa,81.0,87,1
6,Paolo Stoppa,81.0,166,1
7,Jason Robards,81.0,166,1
8,Motomu Kiyokawa,81.0,87,1
9,Hiro Yuki,81.0,87,1
10,Charles Bronson,81.0,166,1
11,Claudia Cardinale,81.0,166,1
12,Mugihito,81.0,87,1
13,Leonardo DiCaprio,81.0,148,1
14,Woody Strode,81.0,166,1
15,Takehito Koyasu,81.0,87,1
16,Yuriko Yamaguchi,81.0,87,1
17,Keenan Wynn,81.0,166,1
18,Frank Wolff,81.0,166,1
19,Megumi Ogata,81.0,87,1
20,Henry Fonda,81.0,166,1
21,Jack Elam,81.0,166,1
22,Fumihiko Tachiki,81.0,87,1
23,Tom Hardy,81.0,148,1
24,Gabriele Ferzetti,81.0,166,1
25,Lionel Stander,81.0,166,1
26,Marion Cotillard,81.0,148,1
27,Joseph Gordon-Levitt,81.0,148,1
28,Tom Berenger,81.0,148,1
29,Maria Kawamura,81.0,87,1
30,Lukas Haas,81.0,148,1
31,Yuko Miyamura,81.0,87,1
32,Dileep Rao,81.0,148,1
33,Ian McKellen,80.5,380,2
34,Bernard Hill,80.5,380,2
35,Dominic Monaghan,80.5,380,2
36,Viggo Mortensen,80.5,380,2
37,Liv Tyler,80.5,380,2
38,Billy Boyd,80.5,380,2
39,Daniel BrÃ¼hl,79.0,153,1
40,Marcus Chong,79.0,136,1
41,Sylvester Groth,79.0,153,1
42,Belinda McClory,79.0,136,1
43,Christoph Waltz,79.0,153,1
44,MÃ©lanie Laurent,79.0,153,1
45,Matt Doran,79.0,136,1
46,Eli Roth,79.0,153,1
47,Til Schweiger,79.0,153,1
48,Julian Arahanga,79.0,136,1
49,Martin Wuttke,79.0,153,1