In [11]:
import pandas as pd
import numpy as np

In [13]:
rd = pd.read_csv("movies_metadata.csv")
low_memory=False
rd.nunique()

C:\Users\vpuyp\AppData\Local\Temp\ipykernel_12760\2649276076.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  rd = pd.read_csv("movies_metadata.csv")

adult                        5
belongs_to_collection     1698
budget                    1226
genres                    4069
homepage                  7673
id                       45436
imdb_id                  45417
original_language           92
original_title           43373
overview                 44307
popularity               44176
poster_path              45024
production_companies     22708
production_countries      2393
release_date             17336
revenue                   6863
runtime                    353
spoken_languages          1931
status                       6
tagline                  20283
title                    42277
video                        2
vote_average                92
vote_count                1820
dtype: int64

In [4]:
rd=rd[rd['original_language'] == 'en']

In [5]:
rd=rd[rd['runtime'] >= 90]
rd=rd[rd['vote_count'] >= 500]

In [6]:
rd.reset_index(drop=True,inplace=True)
rd

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,2.627972e+08,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
1,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,1.874368e+08,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
2,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,3.521940e+08,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
3,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise â€“ Las Vegas ...,...,1995-11-22,1.161124e+08,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
4,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,1995-11-10,2.123855e+08,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,False,NaN,34000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,339403,tt3890160,en,Baby Driver,After being coerced into working for a crime b...,...,2017-06-28,2.245113e+08,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All you need is one killer track.,Baby Driver,False,7.2,2083.0
1022,False,"{'id': 86066, 'name': 'Despicable Me Collectio...",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://www.despicable.me,324852,tt3469046,en,Despicable Me 3,Gru and his wife Lucy must stop former '80s ch...,...,2017-06-15,1.020063e+09,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Oh brother.,Despicable Me 3,False,6.2,2002.0
1023,False,"{'id': 173710, 'name': 'Planet of the Apes (Re...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,281338,tt3450958,en,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,...,2017-07-11,3.699080e+08,140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,For freedom. For family. For the planet.,War for the Planet of the Apes,False,6.7,1675.0
1024,False,NaN,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.dunkirkmovie.com/,374720,tt5013056,en,Dunkirk,The miraculous evacuation of Allied soldiers f...,...,2017-07-19,5.198769e+08,107.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The event that shaped our world,Dunkirk,False,7.5,2712.0
1025,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,6.049421e+08,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0

In [7]:
ad=rd[rd['genres'].apply(lambda genres: "Action" in genres)]
bd=rd[rd['genres'].apply(lambda genres: "Adventure" in genres)]

In [8]:
rd = pd.merge(ad,bd)
rd

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,3.521940e+08,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
1,False,NaN,175000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,9804,tt0114898,en,Waterworld,In a futuristic world where the polar ice caps...,...,1995-07-28,2.642182e+08,135.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Beyond the horizon lies the secret to a new be...,Waterworld,False,5.9,1017.0
2,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,11,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,...,1977-05-25,7.753980e+08,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0
3,False,"{'id': 43064, 'name': 'Speed Collection', 'pos...",30000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1637,tt0111257,en,Speed,Los Angeles SWAT cop Jack Traven is up against...,...,1994-06-09,3.504481e+08,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Get ready for rush hour,Speed,False,6.8,1814.0
4,False,"{'id': 134011, 'name': 'The Fugitive / U.S. Ma...",44000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,5503,tt0106977,en,The Fugitive,"Wrongfully accused of murdering his wife, Rich...",...,1993-08-06,3.688758e+08,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A murdered wife. A one-armed man. An obsessed ...,The Fugitive,False,7.2,1240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,False,NaN,185000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://kongskullislandmovie.com/,293167,tt3731562,en,Kong: Skull Island,Explore the mysterious and dangerous home of t...,...,2017-03-08,5.666528e+08,118.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All hail the king,Kong: Skull Island,False,6.2,3161.0
199,False,NaN,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.movie/,305470,tt3717490,en,Power Rangers,Saban's Power Rangers follows five ordinary te...,...,2017-03-23,1.423372e+08,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Together we are more,Power Rangers,False,6.3,1321.0
200,False,NaN,125000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.themummy.com,282035,tt2345759,en,The Mummy,Though safely entombed in a crypt deep beneath...,...,2017-06-06,4.077780e+08,110.0,"[{'iso_639_1': 'ar', 'name': 'Ø§Ù„Ø¹Ø±Ø¨ÙŠØ©'}, {'iso...",Released,Welcome To A New World of Gods And Monsters,The Mummy,False,5.4,2122.0
201,False,"{'id': 86066, 'name': 'Despicable Me Collectio...",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://www.despicable.me,324852,tt3469046,en,Despicable Me 3,Gru and his wife Lucy must stop former '80s ch...,...,2017-06-15,1.020063e+09,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Oh brother.,Despicable Me 3,False,6.2,2002.0
202,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,6.049421e+08,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0

In [9]:
rd.reset_index()
rd

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,3.521940e+08,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
1,False,NaN,175000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,9804,tt0114898,en,Waterworld,In a futuristic world where the polar ice caps...,...,1995-07-28,2.642182e+08,135.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Beyond the horizon lies the secret to a new be...,Waterworld,False,5.9,1017.0
2,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,11,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,...,1977-05-25,7.753980e+08,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0
3,False,"{'id': 43064, 'name': 'Speed Collection', 'pos...",30000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1637,tt0111257,en,Speed,Los Angeles SWAT cop Jack Traven is up against...,...,1994-06-09,3.504481e+08,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Get ready for rush hour,Speed,False,6.8,1814.0
4,False,"{'id': 134011, 'name': 'The Fugitive / U.S. Ma...",44000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,5503,tt0106977,en,The Fugitive,"Wrongfully accused of murdering his wife, Rich...",...,1993-08-06,3.688758e+08,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A murdered wife. A one-armed man. An obsessed ...,The Fugitive,False,7.2,1240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,False,NaN,185000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://kongskullislandmovie.com/,293167,tt3731562,en,Kong: Skull Island,Explore the mysterious and dangerous home of t...,...,2017-03-08,5.666528e+08,118.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All hail the king,Kong: Skull Island,False,6.2,3161.0
199,False,NaN,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.movie/,305470,tt3717490,en,Power Rangers,Saban's Power Rangers follows five ordinary te...,...,2017-03-23,1.423372e+08,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Together we are more,Power Rangers,False,6.3,1321.0
200,False,NaN,125000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.themummy.com,282035,tt2345759,en,The Mummy,Though safely entombed in a crypt deep beneath...,...,2017-06-06,4.077780e+08,110.0,"[{'iso_639_1': 'ar', 'name': 'Ø§Ù„Ø¹Ø±Ø¨ÙŠØ©'}, {'iso...",Released,Welcome To A New World of Gods And Monsters,The Mummy,False,5.4,2122.0
201,False,"{'id': 86066, 'name': 'Despicable Me Collectio...",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://www.despicable.me,324852,tt3469046,en,Despicable Me 3,Gru and his wife Lucy must stop former '80s ch...,...,2017-06-15,1.020063e+09,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Oh brother.,Despicable Me 3,False,6.2,2002.0
202,False,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,6.049421e+08,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0

In [10]:
rd.corr()

               revenue   runtime  vote_average  vote_count
revenue       1.000000  0.487444      0.366392    0.713185
runtime       0.487444  1.000000      0.338925    0.389384
vote_average  0.366392  0.338925      1.000000    0.566958
vote_count    0.713185  0.389384      0.566958    1.000000